@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.wrapper {
  @apply max-w-[1368px] px-8 mx-auto;
}

.head_text {
  @apply text-[46px] text-primary-black font-bold uppercase leading-[146%] font-kalam;
}

.green_text {
  @apply text-primary-green font-kalam;
}

.link {
  @apply text-light-gray font-raleway border-b-2 hover:border-primary-green transition-all duration-150 ease-in cursor-pointer;
}

.btn_base {
  @apply outline-none transition-all duration-150 ease-in;
}

.primary_btn {
  @apply rounded-[4px] text-white uppercase tracking-widest font-bold border-2 border-transparent hover:text-primary-black hover:bg-white;
}
